#punedit .blockform h2, #punpost .blockform h2, #postpreview h2, #posterror h2,
.pun #quickpost h2, .pun #reportform h2, #pundelete .blockform h2 {
  font: 1em/1.462em Arial, Helvetica, sans-serif;
  font-weight: bold;
  white-space: nowrap;
  padding: 10px 19px 4px 37px;
  border: 0;
}

#punpost .blockform h2, #punedit .blockform h2,.pun #quickpost h2,
#pundelete .blockform h2 {
  margin: 1px 1px 0 1px;
  width: 25em;
  position: absolute;
  z-index: 100;
}

.pun #quickpost legend, #punpost legend, #punedit legend {
  width: 25em;
  overflow: hidden;
  white-space: nowrap;
}

.pun .blockform .box {
  border-style: solid;
  border-width: 1px;
  padding-bottom: 12px;
}

.pun #posterror {
  border-style: solid;
  border-width: 1px;
}

.pun #posterror .box {
  padding: 0 18px 12px 18px;
}

* html .pun .blockform .box, * html .pun #posterror {
  display: inline-block;
}

.pun .blockform .forminfo, .pun .error-info {
  padding: 12px 18px;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.pun .blockform .forminfo {
  margin-top: 12px;
}

#pundelete .blockform .forminfo {
  margin-top: 33px;
}

.pun .forminfo h3 {
  padding-bottom: 0;
}

.pun .error-list li {
  padding-left: 24px;
  background: url(Air/img/exclaim.png) center left no-repeat;
}

.pun .inform {
  padding: 0 18px;
}

.pun legend {
  font-weight: bold;
  padding: 10px 19px 4px 19px;
}

* html .pun legend {
  margin-left: -7px;
}

*:first-child+html .pun legend {
  margin-left: -7px;
}

.pun .infldset {
  border-style: solid;
  border-width: 1px;
  padding: 12px 18px;
}

#punregister #rules .infldset {
  padding: 5px 18px;
}

.pun fieldset p {
  padding: 0 0 7px 0;
  width: 100%;
}

.pun fieldset .usercontent p {
  padding: 7px 0;
}

.pun fieldset label {
  display: block;
  padding: 0 0 7px 0;
}

.pun label em {
  font-weight: normal;
  font-style: normal;
}

.pun .required strong {
  background: url(Air/img/asterisk.png) center right no-repeat;
  font-weight: normal;
  padding-right: 14px;
  white-space: pre;
  display: inline-block;
  line-height: normal;
}

.pun label input, .pun label select, .pun label textarea {
  margin-top: 2px;
}

.pun label.conl {
  display: inline-block;
  padding-right: 12px;
}

.pun form .buttons {
  padding: 8px 19px 8px 34px;
  margin-bottom: -12px;
}

.pun .blockform .buttons input {
  margin-right: 12px;
}

.pun .rbox {
  padding: 3px 0;
}

.pun .rbox label {
  padding: 3px 0 3px 1.75em;
  position: relative;
  min-height: 1px;
}

* html .pun .rbox label {
  text-indent: -3px;
  height: 1%;
}

.pun .rbox input {
  margin: 3px 0.75em 3px -1.75em;
  float: left;
  position: relative;
  vertical-align: middle;
  padding: 0;
  height: 1em;
  width: 1em;
}

.pun input[type=text], .pun select, .pun textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.pun .txtarea textarea, .pun input.longinput {
  width: 98%;
}

.pun textarea {
  resize: vertical;
}

.pun #quickpost .txtarea {
  padding-right: 12px;
  position: relative;
}

.pun .blockform .bblinks {
  padding-top: 0;
}

.pun .blockform .bblinks li {
  display: inline;
}

.pun .blockform .bblinks li span {
  background: url(Air/img/help.png) center left no-repeat;
  margin-right: 8px;
  padding-left: 20px;
  display: inline-block;
}

.pun #quickpost .bblinks {
  padding-top: 0;
}

.pun #quickpost .bblinks li {
  display: inline;
}

.pun #login p.clearb {
  border-top-style: dotted;
  border-top-width: 1px;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin-top: 7px;
  overflow: hidden;
  padding-bottom: 3px;
  padding-top: 7px;
  text-indent: -9999em;
  width: 100%;
}

.pun #postreview {
  padding-top: 12px;
}

.pun #postpreview, .pun #posterror {
  margin-bottom: 12px;
}

.pun #postpreview .postright {
  padding: 0;
}

.pun #postpreview .postbody {
  border-style: solid;
  border-width: 1px;
  float: none;
  margin: 0 18px 12px 18px;
  padding: 0;
  padding: 4px 18px 4px 18px;
  width: auto;
}

.pun span.email {
  background: url(Air/img/email.png) left 65% no-repeat;
  margin-right: 5px;
  padding-left: 21px;
  display: inline-block;
  line-height: normal;
}

.pun span.website {
  background: url(Air/img/ext.png) left 65% no-repeat;
  padding-left: 18px;
  display: inline-block;
  line-height: normal;
}

#punmisc #rules .box {
  border-style: solid;
  border-width: 1px;
  padding: 5px 18px;
}


#punhelp .box {
  border-style: solid;
  border-width: 1px;
  padding: 7px 12px;
}

.pun .multiselect {
  float: left;
  padding-bottom: 7px;
}

.pun .checklist {
  border-width: 1px;
  border-style: solid;
  max-height: 9em;
  width: 20em;
  overflow: auto;
  padding: 0.25em 0.5em;
  margin: 0.25em 16px 0 0.15em;
}

.pun .checklist legend {
  padding: 0;
}

.pun .checklist legend span {
  width: auto;
  max-width: 25em;
}
