/* Footer
----------------------------------------------------------------*/

.pun {
  #modcontrols {
    border-style: none none dotted none;
    border-width: 0 0 1px 0;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;

    dd {
      display: inline;
    }
  }

  #brdfooter {
    #modcontrols dd span {
      background: url(Air/img/bull.png) center left no-repeat;
      display: inline-block;
      line-height: normal;
      padding-left: 18px;
      white-space: nowrap;
    }

    .conl {
      float: left;
    }

    .conr {
      text-align: right;
      float: right;
    }

    #poweredby a {
      font-size: 1.077em;
      font-weight: bold;
    }

    #qjump {
      padding-top: 5px;
    }

    #qjump * {
      white-space: nowrap;
    }

    #searchlinks dd span {
      background: url(Air/img/bull.png) center left no-repeat;
      display: inline-block;
      line-height: normal;
      padding-left: 18px;
      white-space: nowrap;
    }

    #feedlinks {
      padding-bottom: 0;
    }

    #feedlinks span {
      background: url(Air/img/feed.png) center left no-repeat;
      display: inline-block;
      padding-left: 18px;
      white-space: nowrap;
    }
  }

  #debugtime {
    border-style: dotted none none none;
    border-width: 1px 0 0 0;
    margin-top: 7px;
    text-align: center;
  }
}
