/* Welcome Box
----------------------------------------------------------------*/

#brdwelcome {
  padding: 10px 0;

  .conl, .conr, p, li {
    display: inline;
    padding: 0;
  }

  .conl {
    float: left;
  }

  .conr {
    float: right;
  }

  li span {
    background: url(Air/img/bull.png) center left no-repeat;
    padding-left: 18px;
    margin-right: 3px;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
  }

  .conl li:first-child span {
    padding-left: 0;
    background: none;
  }
}
