/* Main Posts
----------------------------------------------------------------*/

.pun .blockpost {
  background: #f6f9fc;
  border-color: #b9c5ce #d9e1e7;
}

.pun .blockpost h2 {
  background: #ebf1f5;
  border-color: #cad7e1;
  color: #357082;
}

.pun .blockpost .postbody, .pun .blockpost .postfoot {
  background: #fcfdfe;
  border-color: #dfe6ee;
}

.pun .blockpost .postfootright li {
  color: #fcfdfe;
}

.pun .postsignature, .pun .postmsg .postedit {
  color: #566579;
}

.pun .quotebox {
  background: #f8f9f0;
  border-color: #7aadbd;
  color: #566579;
}

.pun .quotebox cite {
  color: #357082;
}

.pun .codebox, #punhelp .codebox code {
  background: #333;
  color: #fff;
}

.pun .postmsg hr {
  background: #b9c5ce;
}

.pun .postmsg ins, #punhelp samp ins {
  background-color: #ff0;
}
