/* Status Indicators
----------------------------------------------------------------*/

.pun .icon {
  border-color: #e8ecf1 #d4d9dd #dfe3e8 #e8ecf1;
}

.pun .iredirect .icon {
  border-color: #b9c5ce;
  border-width: 1px;
  padding: 7px;
}

.pun .inew .icon {
  border-color: #91b3d9 #87a8d1 #6c85bb #7292c3;
}
