/* Main Tables
----------------------------------------------------------------*/

.pun .blocktable .box {
  background: #fcfdfe;
  border-color: #b9c5ce #d9e1e7;
}

#punindex .blocktable h2, .pun #vf h2 {
  color: #357082;
}

#adminconsole fieldset th, #adminconsole fieldset td {
  background: #f6f9fc;
  border-color: #dfe6ee;
}

.pun #users1 h2 {
  background: #fff;
}

.pun .blocktable td {
  border-color: #dfe6ee;
}

.pun .blocktable th {
  background: #ebf1f5;
  border-color: #cad7e1;
  color: #357082;
}

.pun .blocktable td.tcl span.stickytext {
  color: #3399CC;
}
