/* Content (includes other user content)
----------------------------------------------------------------*/

.pun .usercontent {
  padding: 7px 0;
}

.pun .postmsg p, .pun .postmsg li, #punhelp p samp {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.pun {
  .usercontent {
    h1, h2, h3, h4, h5, h6 {
      padding: 7px 0 0 0;
    }
  }
}

.pun .postmsg h5, #punhelp h5 {
  font-size: 1.231em;
  font-weight: bold;
  padding: 7px 0;
}

.pun {
  .usercontent ul, .postmsg ul {
    list-style: disc;
    padding: 4px 13px 4px 30px;
  }

  .usercontent ol, .postmsg ol {
    list-style: decimal;
    padding: 4px 13px 4px 30px;

    &.alpha {
      list-style: lower-alpha;
    }
  }

  .usercontent li, .postmsg li {
    padding: 0 3px;

    p {
      padding: 0;
    }
  }

  span.bbu {
    text-decoration: underline;
  }

  span.bbs, del {
    text-decoration: line-through;
  }
}

.pun .postmsg ins, #punhelp samp ins {
  text-decoration: none;
}

.pun {
  .blockpost .postmsg .postedit {
    font-size: 0.857em;
  }

  .blockform .postsignature, .blockpost .postsignature {
    font-size: 0.923em;
  }

  .codebox {
    border-style: solid;
    border-width: 1px;
    margin: 0.75em 1em;
    padding: 0;
  }

  .quotebox {
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    margin: 0.75em 1em;
    padding: 0 0.75em;

    cite {
      display: block;
      padding: 0.75em 0 0 0;
      font-weight: bold;
      line-height: 1.462em;
    }

    blockquote {
      overflow: hidden;
      width: 100%;
    }
  }

  .codebox pre {
    overflow: auto;
    width: 100%;
    direction: ltr;
    text-align: left;

    * html & {
      padding-bottom: 10px;
    }

    *:first-child + html & {
      padding-bottom: 10px;
    }

    code {
      padding: 0.5em;
      white-space: pre;
    }
  }

  div[class*=codebox] pre code {
    display: inline-block;
  }

  .codebox pre code {
    * html & {
      display: block;
    }
  }

  .codebox pre.vscroll {
    height: 32em;
    overflow: auto;
    overflow-y: auto
  }
}

.pun .postmsg img, #punhelp samp img {
  vertical-align: text-top;
}

.pun {
  .postmsg .postimg img {
    max-width: 98%;
    vertical-align: middle;
    margin: 7px 0.5em 7px 0;
  }

  .postmsg .postimg a:link img, .postmsg .postimg a:visited img {
    border-style: solid;
    border-width: 2px;
  }
}
