/* Generic Float Clear
----------------------------------------------------------------*/

.pun .inbox, .pun #brdmain, .pun .crumbs, .pun .pagepost, .pun .block2col {
	min-height: 1px;
}

* html .pun {
	.inbox, #brdmain, .infldset, .crumbs, .pagepost, .block2col {
		display: inline-block;
	}

	.inbox, #brdmain, .infldset, .crumbs, .pagepost, .block2col {
		display: block;
	}
}

.pun {
	.inbox:after, #brdmain:after, .crumbs:after, .pagepost:after, .block2col:after {
		content: " ";
		display: block;
		height: 0;
		font-size: 0;
		clear: both;
		visibility: hidden;
	}

	.block2col .inbox:after {
		content: none;
		clear: none;
	}
}

.clearl {
	clear: left;
}
