/* Generic Float Clear
----------------------------------------------------------------*/

.pun {
	.inbox, #brdmain, .crumbs, .pagepost, .block2col {
		min-height: 1px;

		&:after {
			content: " ";
			display: block;
			height: 0;
			font-size: 0;
			clear: both;
			visibility: hidden;
		}
	}

	.block2col .inbox:after {
		content: none;
		clear: none;
	}
}

.clearl {
	clear: left;
}
